[Unit]
Description = Action Button

[Service]
ExecStart=/home/pi/AIY-projects-python/src/smart/button_vision.sh
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
